{% extends 'base.html' %}
{% block contents %}
<div class="content d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh; text-align: center; padding: 20px;">
    <h1 style="color: #FFD700; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
        Predicting Electric Vehicle Energy Consumption From Field Data Using Machine Learning
    </h1>

    <div class="project-description" style="max-width: 600px; margin-top: 20px; color: #ffffff; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
        <h3 style="color: #84CC38;">The greenest mile is the one traveled with purpose and efficiency</h3>
        <img src="/media/img1.jpg" alt="EV Energy Consumption" style="width:500px; height:400px">
    </div>
</div>
{% endblock %}
